<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}  <link rel="stylesheet" href="{% static 'layout.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><h1>TalkBrief</h1></a>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'logout_view' %}">Logout</a>
            {% else %}
                <a href="{% url 'login_view' %}">Login</a>
                <a href="{% url 'register' %}">Signup</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="footer-columns">
            <div>
                <p>&copy; 2024 TalkBrief. All rights reserved.</p>
            </div>
            <div class = "footer-links">
                <button class="submit-btn-cpy"><a href="{% url 'about' %}">About Us</a></button>
                <button class="submit-btn-cpy"><a href="{% url 'contact' %}">Contact Us</a></button>
            </div>
        </div>
    </footer>
</body>
</html>
