{% extends "talkbrief/base.html" %}

{% block title %}Transcription{% endblock %}

{% block content %}

<!-- <h1>Transcription:</h1>
<p>{{ transcript }}</p>
<a href="{% url 'home' %}">Back to Home</a> -->
<div class="transcription-container">
    <h2>Transcription of provided audio/video:</h2>
    <p id="transcriptionText">
        {{ transcript }}
    </p>
    <button class="copy-button" onclick="copyText('transcriptionText')">Copy Transcription</button>
    <form action="{% url 'summarize' %}" method="post">
        {% csrf_token %}
        <label for="summary_length">Choose Summary Length:</label>
        <select id="summary_length" name="summary_length" required>
            <option value="">Select...</option>
            <option value="35">35%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
        </select>
        <input type="hidden" name="transcription" value="{{ transcript }}">        
        <button class="summary-button" type="submit" value="summarize">Summarize Text</button>
    </form>
</div>




<script>
    // this function copies the transcription text to clipboard using js..
    function copyText(elementId) {
            // Copy the text content of the specified element to the clipboard
            var textElement = document.getElementById(elementId);
            var textToCopy = textElement.innerText || textElement.textContent;

            var textarea = document.createElement('textarea');
            textarea.value = textToCopy;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);

            alert('Text copied to clipboard!');
    }

</script>

{% endblock %}
