{% extends "talkbrief/base.html" %}

{% block title %}Transcription{% endblock %}

{% block content %}

<!-- <h1>Transcription:</h1>
<p>{{ transcript }}</p>
<a href="{% url 'home' %}">Back to Home</a> -->
<div class="transcription-container">
    <h2>Transcription of provided audio/video:</h2>
    <p id="transcriptionText">
        {{ transcript }}
    </p>
    <button class="copy-button" onclick="copyText('transcriptionText')">Copy Transcription</button>
    <button class="summary-button" onclick="goToSummaryPage()">Summarize</button>
</div>

{% endblock %}
